quadraturin-config/src/main/resources/ekran-config.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="EkranConfig">
		<xs:sequence>
			<xs:element name="xres" type="xs:int" default="640" />
			<xs:element name="yres" type="xs:int" default="640" />
			<xs:element name="antialiasing" type="xs:boolean" default="false" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>