quadraturin-config/src/main/resources/input-config.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="InputConfig">
		<xs:sequence>
			<xs:element name="scroll-step" type="xs:double" default="40" />
			<xs:element name="scale-step" type="xs:double" default="0.9" />
			<xs:element name="binding" type="ActionBinding" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ActionBinding">
		<xs:attribute name="actionId" type="xs:string" />
		<xs:attribute name="keyId" type="xs:int" />
	</xs:complexType>

</xs:schema>