quadraturin-config/src/main/resources/quadraturin-config.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:import schemaLocation="ekran-config.xsd" />
	<xs:import schemaLocation="input-config.xsd" />
	<xs:import schemaLocation="stage-config.xsd" />

	<xs:element name="quadraturin" type="QuadraturinConfig" />

	<xs:complexType name="QuadraturinConfig">
		<xs:sequence>
			<xs:element name="ekran" type="EkranConfig" minOccurs="1" maxOccurs="1"/>
			<xs:element name="input" type="InputConfig" minOccurs="1" maxOccurs="1"/>
			<xs:element name="stage" type="StageConfig" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>