quadraturin-config/src/main/resources/stage-config.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="StageConfig">
		<xs:sequence>	
			<xs:element name="frame-length" type="xs:double" default="1" />
			<xs:element name="max-fps" type="xs:int" default="60" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>